<ion-header>
  <ion-toolbar > <!--color="primary"/danger this colors from themes file-->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/employees"></ion-back-button>
    </ion-buttons>
    <ion-title>{{employee.name}}</ion-title>

    <ion-buttons (click)="deleteEmployee()" slot="primary"><!--end-->
      <ion-button>
        <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-img [src]="employee.avatar" [alt]="employee.avatar"></ion-img>
      <ion-card-subtitle>Age : {{employee.age}}</ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>
      {{employee.adress}}
    </ion-card-content>
  </ion-card>

</ion-content>
